
body {
    height: 100vh;
    background-color: rgb(23, 82, 232);
}

img {
    width: 540px;
    height: auto;
    
}
h1{
    font-size: 45px;
    font-family: 'Stick No Bills', sans-serif;
}



h2 {
    color: rgb(255, 255, 255);
    font-family: 'Stick No Bills', sans-serif;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 76, 74);
    border-radius: 0%;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    
} 


.players{
    display: flex;
    justify-content: space-around;
}

.button {
    padding-bottom: 25%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;



   
}

.board { 
    display: inline-block;
    border: 5px solid black;  
}

.message {
    text-align: center;
    border: 5px solid black;
}

/* flexbox for game grid */
.row {

    display: flex;
    justify-content: center;
}

.square{
    border: 5px solid rgb(255, 255, 255);
    /* background-color: black; */
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}

/* class added for when a move is made */
.taken {
    border: 5px solid black;
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}

.startTaken {
    visibility: hidden;
}

/* player colors */
.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}


.redScore {
    border: 5px solid black;
}

.yellowScore {
    border: 5px solid black;
}

.connect {
    border: 5px solid black;
}

.clear {
    width: 30%;
}






