body {
    height: 100vh;
    background-color: rgb(23, 82, 232);
}
img {
    width: 400px;
    height: auto;
    padding-top: 1%;
}

h2 {
    color: white;
}

.logo{
    padding-bottom: 2.5%;
    display: flex;
    justify-content: center;
}

.players{
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: space-around;  
    
}  

.button {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

.board {
    padding-top: 2%;
    
}

.row {

    display: flex;
    justify-content: center;
}

.square{
    border: 5px solid rgb(255, 255, 255);
    /* background-color: black; */
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}
.taken {
    border: 5px solid black;
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}


/* .button {
    padding-top: 1%;
    display: flex;
    justify-content: center;
} */

button {
    color: yellow;
    background-color: red;
    border-radius: 0%;
    font-size: 24px;
}







