
body {
    height: 100vh;
    background-color: rgb(23, 82, 232);
}

.header {
    width: 540px;
    height: auto;
    
}

h1{
    font-size: 45px;
    font-family: 'Stick No Bills', sans-serif;
}



h2 {
    font-size: 30px;
    color: black;
    font-family: 'Stick No Bills', sans-serif;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 76, 74);
    border-radius: 0%;
    font-size: 24px;
}

.logo{
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    border: 5px double black; ;
    padding-bottom: 2%
    
    
} 


.players{
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 5px solid black;
}

.button {
    padding-bottom: 25%;
    display: flex;
    justify-content: center;
    
}

.board { 
    width: 35vw;
    margin: auto;
    border: 5px double black;
}

.message {
   
    width: 30vw;
    margin: auto;
    text-align: center;
    
}

/* flexbox for game grid */
.row {

    display: flex;
    justify-content: center;
}

.square{
    border: 5px solid rgb(255, 255, 255);
    /* background-color: black; */
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}

/* class added for when a move is made */
.taken {
    border: 5px solid black;
    text-align: center;
    border-radius: 100%;
    width:4vw;
    height:7vh;
}

.startTaken {
    visibility: hidden;
}

/* player colors */
.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}


.connect {
    border: 5px solid black;
}

.clear {
    width: 13.5%;
}






